<%- include('partials/header.ejs') %>

<div class="container-main">

    <div class="container-content">
        <h1>Upload a new utility reciept</h1>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-bs-target="#uploadModal">Upload your reciept</button>
    </div>
   
</div>

<%- include('partials/footer.ejs') %>

