<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,100&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css">
</head>

<body>
    <div class="container-main">
        <header class="navbar">
            <div class="left">
                <a href="/">HOME</a>
                <a href="#about">ABOUT</a>
                <a href="#contact">CONTACT</a>
            </div>
            <div class="right">
                <button class="btn-primary btn-create-blog" onclick="window.location.href='/create'">Create a blog post</button>
            </div>
            <div class="hamburger">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
        </header>
        <div class="mobile-nav">
            <a href="#home">HOME</a>
            <a href="#about">ABOUT</a>
            <a href="#contact">CONTACT</a>
            <button class="btn-primary btn-create-blog" onclick="window.location.href='/create'">Create a blog post</button>
        </div>