        <footer class="main-footer">
            <p>Copyright <%= currentYear %></p>
        </footer>
    </div>
    <script src="/scripts/bootstrap.bundle.min.js"></script>
    <script src="/scripts/main.js"></script>
</body>
</html>