<%- include('partials/header.ejs') %>
    <div class="container-404">
        <h1>
            <%= title %>
        </h1>
        <a href="/" class="btn-primary btn-back">Back to all posts</a>
    </div>
