<%- include('partials/header.ejs') %>
    <div class="post-container">
        <h1>
            <%= blogTitle %>
        </h1>
        <div class="blog-content">
         <%- blogContent %>
        </div>

    </div>
    <%- include('partials/footer.ejs') %>